@font-face {
  font-family: 'Montserrat';
  src: url(Montserrat-Regular.ttf);
  font-weight: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url(Montserrat-Light.ttf);
  font-weight: lighter;
}

@font-face {
  font-family: 'Montserrat';
  src: url(Montserrat-Bold.ttf);
  font-weight: bold;
}

@font-face {
  font-family: 'Montserrat';
  src: url(Montserrat-ExtraBold.ttf);
  font-weight: bolder;
}

@font-face {
  font-family: 'Montserrat';
  src: url(Montserrat-Thin.ttf);
  font-weight: 100;
}

@font-face {
  font-family: 'OpenSans';
  src: url(OpenSans-Regualr.ttf);
  font-weight: normal;
}

@font-face {
  font-family: 'OpenSans';
  src: url(OpenSans-Light.ttf);
  font-weight: lighter;
}

@font-face {
  font-family: 'OpenSans';
  src: url(OpenSans-Bold.ttf);
  font-weight: bold;
}

@font-face {
  font-family: 'OpenSans';
  src: url(OpenSans-ExtraBold.ttf);
  font-weight: bolder;
}
