html, body {
  margin: 0;
}

html * {
 box-sizing: border-box;
}

header {
  width: 100%;
  height: 45vw;
  background: lightgreen;
}

main {
  background: lightgrey;
}

footer {
  background: #333;
}
