

html, body {
  margin: 0;
}

html * {
 box-sizing: border-box;
}

header {
  position: relative;
  width: 100%;
  height: 45vw;
  background: lightgreen;
  overflow: hidden;
}

header img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

header .inner-wrapper {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;

}

header h1 {
  position: absolute;
  left: 0;
  bottom: 0;
  background: green;
  width: 100%;
}

main {
  background: lightgrey;
}

footer {
  background: #333;
}
