section.content-element {
  display: block;
  position: relative;
}

.content-element .teaser {
  position: relative;

  /* background:
  -webkit-linear-gradient(rgba(255,125,0,0.5), rgba(255,125,0,0.5)),
  url(../img/example-content-image.jpg);

  background:
  linear-gradient(rgba(255,125,0,0.5), rgba(255,125,0,0.5)),
  url(../img/example-content-image.jpg); */
  /* background-size: cover; */
  /* min-height: 35vw; */

}

.content-element .teaser p {
  position: relative;
  z-index: 10;
}

.content-element .teaser img {
  width:100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  display: block;
  position: relative;

}

.content-element .teaser .overlay{

  /* content:''; */
  display: block;
  width: 100%;
  height: 100%;
  top: 0px;
  background-color: rgba(234, 0, 0, 0.8);
  position: absolute;
  overflow: scroll;
}


/* Testen! */
/* .content-element .teaser::after {
  content:'&nbsp;';
  display: block;
  width: 100%;
  height: 20vw;
  top: 0px;
  background-color: rgba(234, 0, 0, 0.8);
  position: absolute;
} */

.content-element img {
  display: block;
  width: 50%;
  margin: 1em 0;
}

.content-element a.button {
  display: inline-block;
  padding: 1em 2em;
  background: orange;
  color: white;
  text-decoration: none;
}

.content-element a.button:hover {
  opacity: 0.6;
}

.content-element .teaser .center{
  text-align: center;

}



@media screen and (min-width: 576px)  {

  .content-element .teaser p,
  .contenet-element .content-text p{

    padding-right: 45%;
  }
  .content-element .teaser .overlay{
    overflow: hidden;
  }
  .content-element .teaser .center{
    text-align: center;
    padding-right:0;
  }

}
@media screen and (min-width: 1250px)  {
  header#main-header h1,
  .content-element >header,
  .content-element >teaser>header,


  }


@media screen and (min-width: 1200px)  {
  .content-element .teaser {
    min-height: none;
    max-height: 40rem;
  }
}
