html * {
  margin: 0;

}
body {
 box-sizing: border-box;
}

div {
  width: 300px;
  height: 100px;
  border: 2px solid green;

}

.eins {
  background-color: red;
  position: fixed;
  width: 100%;
  opacity: 0.5;
}

.zwei {
background-color: blue;
position: relative;
/* top: 102px; */
opacity: 0.5;
height: 350px;

}

.drei {
background-color: yellow;
position: sticky;
top: 5px;
left: 50px;
opacity: 0.5;
}
