.wrapper {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.wrapper>.kontaktformular {
  border: 1px solid red;
  background-color: yellow;  
  box-shadow: 5px 10px 8px 10px #888888;
}

form {
  margin: 10px;
}

.wrapper>.kontaktformular label {
  display: block;

}
