.wrapper {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  /* display: flex; */

}

.text{
  display: block;
  flex:1;
  text-align: right;
  margin-right: 10px;
}

img {
  display: block;
  max-width: 100%;
}

.bild {
  flex:1;
  margin-left: 10px;
}


@media screen and (min-width: 500px){
.wrapper {
  display: flex;
}


}
