.headerbanner {

}
.textwrapper {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  position:relative;
}

.headerbanner>img {

  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  display: block;
}


.banneraddon {
position: relative;
margin-left: 30%;
top: -40px;


}

.flagaddon {
position: absolute;
top: -20px;
left: 420px;
}
