footer {
  background-color: grey;

}

footer * {
  color: lightgrey;
}

.footerwrapper{
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

.footercontainer{
  padding-top: 30px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
}

.footerlinks {
  text-align: right;
  text-decoration: none;
  list-style: none;
}

.footertext {
  padding-bottom: 20px;
}
