footer {
  background-color: grey;
  width: 100%;

}

footer * {
  color: lightgrey;
}

.footerwrapper{
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

.footercontainer{
  padding-top: 30px;
  padding-bottom: 15px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto;
}

.footerlinks {
  text-align: left;
  text-decoration: none;
  list-style: none;
}

.footertext {
  padding-bottom: 20px;
}

.footerfull{
  background-color: #4f4f4f;
}

.footercontainerdark{

  padding-top: 10px;
  padding-bottom: 35px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
}

.bannerdark{
  background-color: #4f4f4f;
  padding-left: 50%;
  padding-right: 50%;
}

.medialinks {
  text-align: left;
}
.medialinks a {
  text-decoration: none;
}

.colorend {
  height: 3em;
  background-color: grey;
}


@media screen and (min-width: 600px) {
  .footercontainer{
    padding-top: 30px;
    padding-bottom: 15px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
  }
  .footercontainerdark{

    padding-top: 10px;
    padding-bottom: 35px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
  }
  .medialinks {
    text-align: right;
  }
  .footerlinks {
    text-align: right;
    text-decoration: none;
    list-style: none;
  }

}
