@font-face {
  font-family: 'grace';
  src: url(../fonts/grace.ttf);
  font-weight: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url(../fonts/Montserrat-Light.ttf);
  font-weight: lighter;
}

@font-face {
  font-family: 'Montserrat';
  src: url(../fonts/Montserrat-Bold.ttf);
  font-weight: bold;
}

@font-face {
  font-family: 'Montserrat';
  src: url(../fonts/Montserrat-ExtraBold.ttf);
  font-weight: bolder;
}

@font-face {
  font-family: 'Montserrat';
  src: url(../fonts/Montserrat-Thin.ttf);
  font-weight: 100;
}

@font-face {
  font-family: 'sans';
  src: url(../fonts/sans.ttf);
  font-weight: 300;
}

@font-face {
  font-family: 'sans';
  src: url(../fonts/sans400.ttf);
  font-weight: 400;
}

@font-face {
  font-family: 'sans';
  src: url(../fonts/sans700.ttf);
  font-weight: 700;
}
